opts = {

    borderColor: #ff00ff,
    width: 200px,
    margin: 10px,
    padding: 10px

}


@keyframes shrink
    0%
        min-width: opts.width
        width: opts.width
        margin-left: opts.padding
        margin-right: opts.padding
        padding-left: opts.padding
        padding-right: opts.padding
    100%
        width: 0
        margin-left: 0
        margin-right: 0
        padding-left: 0
        padding-right: 0

.shrink-box
    animation: shrink 0.3s ease

@keyframes appear-in
    0%
        opacity: 0
        transform: translateX(30px)
    100%
        opacity: 100
        transform: translateX(0px)

@keyframes appear-out
    0%
        opacity: 100
    100%
        opacity: 0

.appear-enter
    animation: appear-in 0.3s

.appear-leave
    animation: appear-out 0.3s

.u-group-box
    float: left
    display: block
    cursor: pointer
    overflow: hidden
    margin: opts.margin
    padding: opts.padding
    border-radius: 4px
    border: 2px solid opts.borderColor
    height: 100px
    width: opts.width

.u-group-box:hover
    border-color: lighten(opts.borderColor, 50%)
