<template id="ut-groups">

<div class="u-container">

    <h3>Route Groups</h3>

    <p v-show="!groups.length">No groups here yet :(</p>
    <div v-for="group in groups" transition="appear">

        <!--soon... maybe...-->
        <!--<group-box :group="group"></group-box>-->

        <div class="u-group-box">{{ group.name }}
            <p>ID: {{ group.id }}</p>
            <p>
                <button @click="removeGroup(group)">X</button>
            </p>
        </div>
    </div>

</div>

</template>
