<template id="ut-group-list-item">

<div>

    <div class="ui action input" v-show="group.editing">
        <input type="text" v-model="name" placeholder="Group">
        <button class="ui button" @click="save">Ok</button>
    </div>

    <div v-else>
        {{ group.name }}
        <p>ID: {{ group.id }}</p>
        <button @click="remove">X</button>
    </div>

</div>

</template>
