<template id="ut-group-box">

<div>
    <div class="u-group-box">

        <div v-show="editing">
            <input type="text" v-model="group.name" />
        </div>

        <div v-else>
            {{ group.name }}
            <p>ID: {{ group.id }}</p>
            <p>
                <button @click="removeGroup(group)">X</button>
            </p>
        </div>

    </div>
</div>

</template>
