<template id="ut-route-list-item">

<div v-show="route.editing">

    <div class="row">

        <div class="column">
            <div class="ui fluid input">
                <input type="text" v-model="src" placeholder="Source">
            </div>
        </div>

        <div class="column">
            <div class="ui fluid input">
                <input type="text" v-model="dest" placeholder="Destination">
            </div>
        </div>

        <div class="column">
            <button class="ui button" @click="save">
                <i class="plus icon"></i>
                Save
            </button>
        </div>

    </div>

</div>


<div v-else>

    <div class="ui two column grid">

        <div class="row">
            <div class="three wide column">Source</div>
            <div class="five wide column">{{ route.src }}</div>
        </div>

        <div class="row">
            <div class="three wide column">Destination</div>
            <div class="five wide column">{{ route.dest }}</div>
        </div>

        <div class="row">
            <div class="column">
                <button class="ui danger button" @click="remove">
                    <i class="trash icon"></i>
                    Remove
                </button>
            </div>
        </div>

    </div>

</div>

</template>
