<template id="ut-routes">

<div>

    <div class="u-group-list">

        <div class="u-container">

            <div class="ui input">
                <input type="text" v-model="groupFilter" placeholder="Filter groups"/>

                <button class="ui button" @click="addGroup">Add</button>
            </div>

            <p>Selected group: {{ groupNameForId(activeGroup) }}</p>
            <p v-show="!groups.length">No groups here yet :(</p>

            <div v-for="group in groups | filterBy groupFilter in 'name'">

                <group-list-item
                    :group="group"
                    @remove-group="removeGroup"
                    @click="selectGroup(group.id)"
                ></group-list-item>

            </div>

        </div>

    </div>

    <div class="ui container">

        <h3>Routes</h3>

        <p v-show="!groups.length">You need to create at least one group</p>


        <p v-show="groups.length && !activeGroup">Select a group you stuck-up, half-witted, scruffy-looking nerf-herder!</p>

        <div v-show="groups.length && activeGroup">
            <button class="ui button" @click="addRoute">Add route (but use more SW ref pls kthx)</button>
        </div>


        <div v-show="activeGroup && !getActiveGroupRoutes().length">
            <p>There are no routes</p>
        </div>

        <div v-for="route in getActiveGroupRoutes()">

            <route-list-item
                :route="route"
                @remove-route="removeRoute"
            ></route-list-item>

        </div>

    </div>

</div>

</template>
