<template id="search-dropdown">

<div>
    <select class="ui fluid search selection dropdown" v-dropdown="value" v-model="value">
        <option selected value="">{{ placeholder }}</option>
        <option v-for="option in options" v-bind:value="option[optionValue]">
            {{ option[optionText] }}
        </option>
    </select>
</div>

</template>
