@require 'styles/*'


body
    font-family: 'Roboto', sans-serif
    background: rgba(0, 0, 0, 0.7)
    color: #eee
    animation: fadein 0.5s


@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1


//.item
    //border-bottom: 1px solid #000
    //padding: 5px
    //animation: fadein 1s
    //background: #ccc
        //transform translateX(0px)
        //transform translateX(-20px)

.u-container
    margin: 30px

.u-filler-item
    height: 200px
    background: red
    margin: 40px

.u-group-list
    float: left
    width: 300px
    height: 100vh
    background: #333
    overflow-y: scroll
    overflow-x: hidden



.sidebar
    float: left
    width: 100px
    height: 100vh
    background: #ff44aa


.everything-else
    width: calc(100vw - 100px)
    float: left
